//
//  XcodeWarnings.xcconfig
//  WanFanTian
//
//  Created by Bell on 16/8/3.
//  Copyright © 2016年 WanFanTian. All rights reserved.
//

// Apple LLVM 7.0 - Warnings - All languages

CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES

// 检查是否是 BOOL 值
CLANG_WARN_BOOL_CONVERSION = YES

CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES

// signInt <=> unsignInt
// CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES

// sign <=> unsign
//CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES

// nullable to notnull
//CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
CLANG_WARN_ASSIGN_ENUM = YES

// sign <=> unsign
//GCC_WARN_SIGN_COMPARE = YES
// 检查 数据类型转换，float 转 bool
//CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Apple LLVM 7.0 - Warnings - Objective-C

CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
//CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES

// Apple LLVM 7.0 - Warnings - Objective-C and ARC

//CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
// block 里面的成员变量都会自动加上 self
//CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
//CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES

// Static Analyzer - Analysis Policy
//RUN_CLANG_STATIC_ANALYZER = YES
//CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = Deep
//CLANG_STATIC_ANALYZER_MODE = Deep

// Static Analyzer - Generic Issues

//CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = YES
CLANG_ANALYZER_NONNULL = YES

// Static Analyzer - Checks - Security

CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

